.switch-block {
    height: 420px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.switch-block--menu, .switch-block--menu--disabled {
    width: calc(85% - 40px);
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.switch-block--menu--disabled > p{
    color: rgb(190, 190, 190);
    margin: 0;
}

.switch-block--menu > p {
    margin: 0;
    color: #737373;
}

.switch-block--menu__toggleSwitch--checkbox--display:hover {
    cursor: pointer;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"] {
    clip: rect(0 0 0 0);
    padding: 0;
    width: 100%;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    right: 1px;
    border:0;
}

.switch-block--menu__toggleSwitch--checkbox > .switch-block--menu__toggleSwitch--checkbox--display{
    background: #d9d9d9;
    display: block;
    width: 36px;
    height: 15px;
    position: relative;
    z-index: 2;
    border-radius: 30px;
    transition: all 0.1s linear;
}

.switch-block--menu__toggleSwitch--checkbox--display::before{
    background-color: grey;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    border-radius: 30px;
    position: absolute;
    top:-3px;
    left: 0;
    transition: all 0.3s linear;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked + .switch-block--menu__toggleSwitch--checkbox--display::before {
    background-color:#077775;
    transform: translate(100%);
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked + .switch-block--menu__toggleSwitch--checkbox--display{
    background-color: #10aca9;
}