
.switch-block {
    height: 420px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.switch-block--menu, .switch-block--menu--disabled {
    width: calc(85% - 40px);
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
   
}

.switch-block--menu--disabled > p{
    color: rgb(190, 190, 190);
    margin: 0;
}

.switch-block--menu > p {
    margin: 0;
    color: #737373;
}

.switch-block--menu__toggleSwitch--checkbox--display:hover {
    cursor: pointer;
}

.switch-block--menu__toggleSwitch--checkbox--display:disabled {
    background-color: #737373;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"] {
    clip: rect(0 0 0 0);
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    right: 1px;
    border:0;
}

.switch-block--menu__toggleSwitch--checkbox > .switch-block--menu__toggleSwitch--checkbox--display{
    background: #d9d9d9;
    display: block;
    width: 36px;
    height: 15px;
    position: relative;
    z-index: 2;
    border-radius: 30px;
    transition: all 0.3s linear;
}

.switch-block--menu__toggleSwitch--checkbox--display::before{
    display: block;
    font-family: 'Material Icons';
    font-size: 24px;
    content: "lens";
    border-radius: 50%;
    position: absolute;
    top:-10px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 2px 0.1rem rgb(189, 189, 189));
    left: -10px;
    padding: 5px; 
    transition: all 0.3s linear;

}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:disabled + .switch-block--menu__toggleSwitch--checkbox--display
{
    background-color:rgba(201, 201, 201, 0.3);
    cursor:auto;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:disabled + .switch-block--menu__toggleSwitch--checkbox--display::before, 
.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:disabled:hover + .switch-block--menu__toggleSwitch--checkbox--display::before {
    background-color:rgba(201, 201, 201, 0);
    color: rgb(207, 207, 207);
    filter: drop-shadow(0 0 0 rgb(189, 189, 189));
    cursor:auto;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked:disabled + .switch-block--menu__toggleSwitch--checkbox--display::before,
.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked:disabled:hover + .switch-block--menu__toggleSwitch--checkbox--display::before
{
    background-color:rgb(42, 199, 196, 0);
    color:#63afae;
    filter: opacity(100%);
    
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked:disabled + .switch-block--menu__toggleSwitch--checkbox--display{
    background-color: #7bcecc;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked + .switch-block--menu__toggleSwitch--checkbox--display::before {
    background-color:rgb(42, 199, 196, 0);
    color:#077775;
    transform: translate(70%);
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked:hover + .switch-block--menu__toggleSwitch--checkbox--display::before,
.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked:focus + .switch-block--menu__toggleSwitch--checkbox--display::before{
    background-color:rgba(99, 219, 217, 0.3);
    filter: drop-shadow(0 2px 0.1rem rgb(189, 189, 189));
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:checked + .switch-block--menu__toggleSwitch--checkbox--display{
    background-color: #10aca9;
}

.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:hover + .switch-block--menu__toggleSwitch--checkbox--display::before,
.switch-block--menu__toggleSwitch--checkbox > input[type="checkbox"]:focus + .switch-block--menu__toggleSwitch--checkbox--display::before  {
    background-color:rgba(231, 231, 231, 0.3);
    width:24px;
    height: 24px;
    filter: drop-shadow(0 0 0 rgb(189, 189, 189));
}
