ul {
    list-style-type: none;
    margin: 0;
}

li { 
    padding: 10px 0;
    position: relative;
    margin-left: 40px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.checkbox-block {
    width: 80%;
    text-align: left;
    margin-top: 20px;
}

.checkbox-block__main-option {
    padding: 0;
}

.checkbox-block__sub-option {
    padding: 0;
    margin: 10px 0;
}

.checkbox-block__sub-option__list > input[type="checkbox"], .checkbox-block__main-option__list > input[type="checkbox"]{
    appearance: none;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    left: 1px;
    border:0;
}

.checkbox-block__fakedisplay::before{
    display: block;
    border-radius: 30px;
    position: absolute;
    top:8px;
    left: -44px;
    font-family: 'Material Icons';
    content: 'check_box_outline_blank';
    text-transform: lowercase;
    font-size: 24px;
    color: #a5a5a5;
}

.checkbox-block__sub-option__list:hover, .checkbox-block__main-option__list:hover {
    cursor: pointer;
}

.checkbox-block__sub-option__list > input[type="checkbox"]:checked + .checkbox-block__fakedisplay::before, 
.checkbox-block__main-option__list > input[type="checkbox"]:checked + .checkbox-block__fakedisplay::before {
    content: "check_box";
    color: #10aca9;
}

.checkbox-block__main-option__list > input[type="checkbox"]:indeterminate + .checkbox-block__fakedisplay::before{
    content: "indeterminate_check_box";
    color:#10aca9;
}