ul {
    list-style-type: none;
    margin: 0;
}

li { 
    padding: 15px 0;
    position: relative;
    margin-left: 40px;
}

.checkbox-block {
    width: 80%;
    height: 420px;
    text-align: left;
    margin-top: 20px;
}

.checkbox-block__main-option {
    padding: 0;
}

.checkbox-block__sub-option {
    padding: 0;
    margin: 10px 0;
}

.checkbox-block__sub-option__list > input[type="checkbox"], .checkbox-block__main-option__list > input[type="checkbox"]{
    clip: rect(0 0 0 0);
    padding: 0;
    width: 38px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    left: -42px;
    border:0;
}

.checkbox-block__fakedisplay::before{
    display: block;
    border-radius: 50%;
    position: absolute;
    top:8px;
    left: -44px;
    font-family: 'Material Icons';
    content: 'check_box_outline_blank';
    text-transform: lowercase;
    font-size: 24px;
    color: #a5a5a5;
    padding: 5px;
}

.checkbox-block__sub-option__list > input[type="checkbox"]:focus +  .checkbox-block__fakedisplay::before,
.checkbox-block__main-option__list > input[type="checkbox"]:focus +  .checkbox-block__fakedisplay::before {
    padding: 5px;
    border-radius: 50%;
    background-color: Rgb(201, 201, 201, 0.3);
}

.checkbox-block__sub-option__list > input[type="checkbox"][disabled] +  .checkbox-block__fakedisplay::before {
    background-color:rgba(201, 201, 201, 0);
    filter: opacity(55%);
}

.checkbox-block__sub-option__list[disabled] {
    color:rgb(182, 182, 182);
    cursor: auto;
}

.checkbox-block__sub-option__list:hover, .checkbox-block__main-option__list:hover {
    cursor: pointer;
}

.checkbox-block__sub-option__list > input[type="checkbox"]:checked + .checkbox-block__fakedisplay::before, 
.checkbox-block__main-option__list > input[type="checkbox"]:checked + .checkbox-block__fakedisplay::before {
    content: "check_box";
    color: #10aca9;
}

.checkbox-block__sub-option__list > input[type="checkbox"]:hover + .checkbox-block__fakedisplay::before, 
.checkbox-block__main-option__list > input[type="checkbox"]:hover + .checkbox-block__fakedisplay::before {
    padding: 5px;
    border-radius: 50%;
    background-color: Rgb(201, 201, 201, 0.3);
    
}

.checkbox-block__sub-option__list > input[type="checkbox"]:hover + .checkbox-block__fakedisplay::before 
{
    background-color: transparent;
    
}


.checkbox-block__sub-option__list > input[type="checkbox"]:hover:checked + .checkbox-block__fakedisplay::before, 
.checkbox-block__main-option__list > input[type="checkbox"]:hover:checked + .checkbox-block__fakedisplay::before {
    padding: 5px;
    border-radius: 50%;
    background-color: Rgb(45, 214, 195, 0.3);
    color: #10aca9;
}

.checkbox-block__main-option__list > input[type="checkbox"]:indeterminate + .checkbox-block__fakedisplay::before{
    content: "indeterminate_check_box";
    color:#10aca9;
}