
.radio-block {
    width: 80%;
    height: 420px;
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.radio-block > p {
    font-size: 0.7rem;
}

.radio-block__form {
    align-items: flex-start;
}

.radio-block__form__ul {
    padding: 0;
}

.radio-block__form__li {
    margin: 0 40px;
}

.radio-block__form__li__listdata:hover {
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 25px;
}

.radio-block__form__li__listdata > input[type="radio"]{
    clip: rect(0 0 0 0);
    padding: 0;
    width: 38px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    left: -42px;
    border:0;
}

.radio-block__form__fakedisplay::before{
    display: block;
    border-radius: 50%;
    position: absolute;
    top:8px;
    left: -44px;
    font-family: 'Material Icons';
    content: 'radio_button_unchecked';
    text-transform: lowercase;
    font-size: 24px;
    color: #a5a5a5;
    padding: 5px;
}

.radio-block__form__li__listdata > input[type="radio"]:checked ~ .radio-block__form__fakedisplay::before {
    content: "radio_button_checked";
    color: #10aca9;
    opacity: 100%;
    transition: 0.5s;
}

.radio-block__form__li__listdata[disabled] {
    color:rgb(182, 182, 182);
    filter:(brightness(50%));
}

.radio-block__form__li__listdata > input[type="radio"]:hover ~ .radio-block__form__fakedisplay::before
{
    padding: 5px;
    border-radius: 50%;
    background-color: Rgb(201, 201, 201, 0.3);
}

.radio-block__form__li__listdata > input[type="radio"][disabled] ~ .radio-block__form__fakedisplay::before
{
    background-color: transparent;
    color:rgb(182, 182, 182, 0.5);
}

.radio-block__form__li__listdata > input[type="radio"]:focus:checked ~ .radio-block__form__fakedisplay::before
{
    padding: 5px;
    border-radius: 50%;
    background-color: Rgb(45, 214, 195, 0.2);
}