:focus {
    outline: none;
   }


.box-container {
    width: 400px;
    height: 600px;
    background-color: rgb(240, 240, 240);
    margin: 20px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.top-appbar {
    height: 20%;
    width: 100%;
    background-color: #10aca9;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 4px 8px -1px rgba(153,153,153,1);
    -moz-box-shadow: 0px 4px 8px -1px rgba(153,153,153,1);
    box-shadow: 0px 4px 8px -1px rgba(153,153,153,1);  
}

.top-block {
    width: 100%;
    height: 30%;
    background-color: #077775;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.bottom-block {
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.bottom-block > h4 {
    padding-left: 18px;
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    vertical-align: middle;
    line-height: 0;
    width: 68%;
    text-align: left;
}

form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.input-container {
    width: 80%;
    height: 13%;
    margin: 16px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border-radius: 5px 5px 0 0;
    background-color: rgb(216, 216, 216);
}

input {
    width: 75%;
}

.field-input:hover {
    cursor: pointer;
}


.field-input:disabled {
    cursor: not-allowed;
}

.phone-box {
    color: #9c9c9c;
}

.phone-box, .email-box, .username-box{
    position: absolute;
    margin-left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
}

.input-container:first-child {
    margin-top: 40px;
}

.input-container > p, .email-extra-message {
    font-size: 0.6rem;
    margin: 0;
    align-self: flex-start;
    padding-top: 5px;
    position: absolute;
    bottom: -15px;
    padding-left: 16px;
}

.email-extra-message.error {
    color: rgb(170, 0, 0);
}

.field-input {
    width: calc(100% - 32px);
    height: 75%;
    padding: 20px 16px 6px 16px;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    border: 0;
    font-size: 0.7rem;
    color: #353535;
    z-index: 2;
}

.field-input ~ .border {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  #10aca9;
}

.field-input.error ~ .border {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:  rgb(170, 0, 0);
}

.field-input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
}

.field-input:focus ~ .email-box, .field-input:focus ~ .username-box {
    font-size: 0.7rem;
    position: absolute;
    top: 15px;
    transition: 0.5s;
    color:  #077775;
}

.phone-box.float, .email-box.float, .username-box.float{
    font-size: 0.7rem;
    position: absolute;
    top: 15px;
    transition: 0.5s;
    color:  #077775;
}


.field-input:blur ~ .phone-box.float, .field-input:blur ~ .username-box.float, .field-input:blur ~ .email-box.float{
    font-size: 0.7rem;
    position: absolute;
    top: 15px;
    transition: 0.5s;
    color:  #077775;
}

.field-input.error ~ .email-box.float {
    color: rgb(170, 0, 0);
    transition: 0s;
}

.field-input:blur ~ .phone-box, .field-input:blur ~ .email-box, .field-input:blur ~ .username-box{
    position: absolute;
    margin-left: 16px;
    font-size: 1rem;
    transition: 1s;
}

.buttons {
    width: 80%;
    height: 50px;
    margin-top: 24px;
    border: none;
    background-color: #10aca9;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 5px;
}

.buttons:last-of-type {
    margin-top: 8px;
    background-color: rgb(212, 212, 212);
    color: #737373;
    margin-bottom: 32px;
}

.buttons:hover {
    cursor: pointer;
}
